@import "tailwindcss";


@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);

  /* Custom colors */
  --color-purple-orchid: #af69ee; /* Medium orchid purple */
  --color-foreground: #ffffff;
}

:root {
  --background: #0c0c0c;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0c0c;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
